robot kuka_lwr version="1.0" {

    materials {                                
        color orange rgba= (1.0,0.309,0,1.0)        
        color black rgba= (0,0,0,1.0)        
        color white-transparent rgba= (1,1,1,0.8)  
    } 
    
    links {
        mesh calib_kuka_arm_base_link file-name="meshes/arm_base.stl" material=orange {
        	xyz=(0, 0, -0.5)
        } 
        mesh kuka_arm_1_link   file-name="meshes/arm_segment_a.stl" material=orange {
        	xyz=(0, 0, 0) rpy=(0, 0, 3.14159265359)
        }
        mesh kuka_arm_2_link   file-name="meshes/arm_segment_b.stl" material=orange {
        	   xyz=(0, 0, 0.2) rpy=(3.14159265359, 0,3.14159265359) 
        }
        mesh kuka_arm_3_link   file-name="meshes/arm_segment_a.stl" material=orange
        mesh kuka_arm_4_link   file-name="meshes/arm_segment_b.stl" material=orange {
        	  xyz=(0, 0, 0.2) rpy=(0 ,3.14159265359 ,3.14159265359) 
        }
        mesh kuka_arm_5_link   file-name="meshes/arm_segment_last.stl" material=orange {
        	  xyz=(0, 0, 0) rpy=(0, 0, 3.14159265359) 
        }
        mesh kuka_arm_6_link   file-name="meshes/arm_wrist.stl" material=white-transparent {
        	xyz=(0, 0, 0) rpy=(0, 0, 3.14159265359) 
        }
        mesh kuka_arm_7_link   file-name="meshes/arm_flanche.stl" material=black {
        	 xyz=(0, 0, 0) rpy=(0, 0, 3.14159265359) 
        }
    }

    joints {
        continuous base_joint parent-name=calib_kuka_arm_base_link child-name=kuka_arm_1_link  {
        	xyz=(0,0,0.11) rpy=(0,0,0) axis-xyz=(0,0,1)
        } 
        revolute joint-1 parent-name=kuka_arm_1_link child-name=kuka_arm_2_link { 
        	xyz=(0,0,0.2) rpy=(0,0,0) axis-xyz=(0 ,-1, 0) lower-limit=-1.57079632679 upper-limit=1.57079632679
        }
        revolute joint-2 parent-name=kuka_arm_2_link child-name=kuka_arm_3_link {
        	xyz=(0,0,0.2) rpy=(0,0,0) axis-xyz=(0 ,0,1) lower-limit=-2.96705972839 upper-limit=2.96705972839
        }
        revolute joint-3 parent-name=kuka_arm_3_link child-name=kuka_arm_4_link {  
        	xyz=(0,0,0.2) rpy=(0,0,0) axis-xyz=(0 ,1,0) lower-limit=-2.09439510239 upper-limit=2.09439510239
        }
        revolute joint-4 parent-name=kuka_arm_4_link child-name=kuka_arm_5_link {        	   
        	xyz=(0,0,0.2) rpy=(0,0,0) axis-xyz=(0 ,0,1) lower-limit=-2.96705972839 upper-limit=2.96705972839
        }
        revolute joint-5 parent-name=kuka_arm_5_link child-name=kuka_arm_6_link {        	        	 
        	xyz=(0,0,0.19) rpy=(0,0,0) axis-xyz=(0 ,-1,0) lower-limit=-2.09439510239 upper-limit=2.09439510239
        }
        revolute joint-6 parent-name=kuka_arm_6_link child-name=kuka_arm_7_link {    
        	xyz=(0,0,0.078) rpy=(0,0,0) axis-xyz=(0 ,0,1) lower-limit=-2.96705972839 upper-limit=2.96705972839
        }     
    }
}
