robot R2D2 version= "1.0" {

    materials {

        color blue rgba=(0,0,0.8,1)
        color white rgba= (1,1,1,1)
        color black rgba= (0,0,0,1)
        texture metal file-name="textures/metal.jpg"
    }

    links {

        box extension-base length=0.08 width=0.08 height=0.08  material=white
        cylinder base-link length=0.6 radius=0.2 material=blue
        box right-leg length=0.6 width=0.1 height=0.2   material=white {
            xyz=(0,0,-0.3) rpy=(0,1.57075,0)
        }
        box right-base length=0.4 width=0.1 height=0.1  material=white
        box left-leg length=0.6 width=0.1 height=0.2 material=white {
            xyz=(0,0,-0.3) rpy=(0,1.57075,0) 
        }
        box left-base length=0.4 width=0.1 height=0.1  material=white
        cylinder right-front-wheel length=0.1 radius=0.035    material=black {
            xyz=(0,0,0) rpy=(1.57075,0,0)
        }
        cylinder right-back-wheel length=0.1 radius=0.035    material=black {
            xyz=(0,0,0) rpy=(1.57075,0,0)
        }
        cylinder left-front-wheel length=0.1 radius=0.035    material=black {
            xyz=(0,0,0) rpy=(1.57075,0,0)
        }
        cylinder left-back-wheel length=0.1 radius=0.035    material=black {
            xyz=(0,0,0) rpy=(1.57075,0,0)
        }
        cylinder gripper-pole length=0.2 radius=0.01  material=white {
            xyz=(0.1,0,0) rpy=(0,1.57075,0) 
        }
        mesh left-gripper file-name="meshes/l_finger.stl" scale-xyz=(0.1,0.1,0.1) material=metal
        mesh right-gripper file-name="meshes/l_finger.stl" scale-xyz=(0.1,0.1,0.1)   material=metal{
            xyz=(0,0,0) rpy=(-3.1415,0,0)
        }
        mesh left-tip file-name="meshes/l_finger_tip.stl" scale-xyz=(0.1,0.1,0.1)  material=metal {
            xyz=(0.09137, 0.00495, 0) rpy=(0.0, 0 ,0) 
        }
        mesh right-tip file-name="meshes/l_finger_tip.stl" scale-xyz=(0.1,0.1,0.1)  material=metal {
            xyz=(0.09137, 0.00495 ,0) rpy=(-3.1415, 0 ,0)
        }
        sphere head radius=0.2   material=white {
            xyz=(0,0,0.3) rpy=(0,1.57075,0)
        }
    }

    joints {

        revolute head-swivel parent-name=base-link child-name=head {
             xyz=(0,0,0.03)
        }
        fixed tobox parent-name=head child-name=extension-base {
            xyz=(0.1814,0,0.1414)
        }
        fixed base-to-right-leg parent-name=base-link child-name=right-leg {
            xyz=(0 ,-0.22 ,0.25)
        }
        fixed base-to-left-leg parent-name=base-link child-name=left-leg {
            xyz=(0 ,0.22 ,0.25)
        }
        fixed right-base parent-name=right-leg child-name=right-base {
            xyz=(0 ,0 ,-0.6)}
        fixed right-front-wheel parent-name=right-base child-name=right-front-wheel {
            xyz=(0.133333333333 ,0 ,-0.085)
        }
        fixed left-front-wheel parent-name=left-base child-name=left-front-wheel {
            xyz=(0.133333333333 ,0 ,-0.085)
        }
        fixed left-back-wheel parent-name=left-base child-name=left-back-wheel {
             xyz=(-0.133333333333 ,0 ,-0.085)
        }
        fixed right-back-wheel parent-name=right-base child-name=right-back-wheel {
            xyz=(-0.133333333333 ,0 ,-0.085)
        }
        fixed left-base parent-name=left-leg child-name=left-base {
            xyz=(0 ,0 ,-0.6)
        }
        revolute extension parent-name=base-link child-name=gripper-pole {
            xyz=(0.19, 0, 0.2)  axis-xyz=(1,0,0) lower-limit=-1.5707 upper-limit=1.5707
        }
        fixed left-gripper parent-name=gripper-pole child-name=left-gripper {
             xyz=(0.2 ,0.01 ,0)
        }
        fixed left-tip parent-name=left-gripper child-name=left-tip
        fixed right-gripper parent-name=gripper-pole child-name=right-gripper {
             xyz=(0.2 ,-0.01 ,0)
        }
        fixed right-tip parent-name=right-gripper child-name=right-tip
    }
}

